<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome To Casio Watch Club</title>
  </head>
  <body>
    <div>
      <a href="/logOut">Logout</a>
      <h1>Successfully Logged in ! Welcome <%=loggedInUserDetails.first_name%> To Casio Watch Club</h1>
    </div>
    <div>
      <div>
        <h1>Latest Messages</h1>
        <p></p>
        <ul>
          <%if (allMessages.length>0){%> <%allMessages.forEach(result=>{ %>
          <li>
            <strong>ID:</strong> <%=result.id%>,
            <strong>Time:</strong> <%=result.timestamp%>,
            <strong>User:</strong> <%=result.first_name%>,
            <strong>Title:</strong> <%=result.title%>,
            <strong>Content :</strong> <%=result.content%>
            <%if(loggedInUserDetails.admin===true){%>

            <form method="post" action="/messagedeleted<%=result.id%>">
              <button type="submit">Delete Message (Only Admins)</button>
            </form>
            <%}%>
          </li>
          <% }); %> <%}else{%>
          <p>No Messages</p>

          <%}%>
        </ul>
      </div>
      <%if(loggedInUserDetails.membership_status===true){%>
<a href="/new">Create New Message</a>
      <%}%>
      
    </div>
  </body>
</html>
